@media only screen and (max-width:1024px) {
    header {
        width: 100%;
        position: sticky;
        z-index: 100;
        top: -1px;

        .menu {
            .checkbox {
                display: block;
            }
            #check:checked~ul {
                left: 0;

            }
            ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                background-color: #3c0115;
                top: 79px;
                left: -100%;
                text-align: center;
                transition: all 0.5s ease;

                li {
                    display: block;
                    margin: 50px 0;
                    line-height: 30px;


                    a {
                        font-size: 16px;

                    }
                }
            }
        }
    }
}

@media only screen and (max-width:390px) {
    header {
        width: 100%;
        position: sticky;
        z-index: 100;
        top: -1px;
    }
}

/* PIE DE PAGINA RESPONSIEVE */
@media only screen and (max-width:1024px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
    }

    .pie-pagina .grupo-2 {
        width: 100%;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .pie-pagina .grupo-1 .box h2 {
        color: #fff;
        margin-bottom: 10px;
        font-size: 16px;
        text-align: center;
    }

    .pie-pagina .grupo-1 .box p {
        color: #fff;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .box figure a img {
        width: 100px;
    }
}

@media only screen and (max-width:390px) {
    .pie-pagina .grupo-1 {
        width: 25%;
    }

    .pie-pagina .grupo-2 {
        width: 25%;
    }
}

/* SELECCIONES RESPONSIVE */

@media only screen and (max-width:1024px) {

    .contenedor-selecciones {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }

    .titulo-selecciones {
        font-size: 36px;
    }

    .escudos img {
        width: 150px;
        height: 150px;
    }

    .grupo-titulo h1 {
        font-size: 22px;
    }

    .grupo-p p {
        font-size: 16px;
    }

}

@media only screen and (max-width:390px) {
    .contenedor-selecciones {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 25%;
    }

    .titulo-selecciones {
        font-size: 22px;
    }

    .grupo-titulo h1 {
        font-size: 16px;
    }

    .escudos img {
        width: 150px;
        height: 150px;
    }

    .grupo-p {
        font-size: 12px;
    }

}

/* ESTADIOS RESPONSIVE */
@media only screen and (max-width:1024px) {
    .contenedor-estadios {
        width: 100%;
    }

    .contenedor-pelota {
        width: 100%;
    }

    .titulo-estadios {
        font-size: 22px;
    }
}

@media only screen and (max-width:390px) {
    .contenedor-estadios {
        width: 25%;
    }

    .titulo-estadios {
        font-size: 22px;
    }

    .contenedor-pelota {
        width: 25%;
    }
}

/* CAMPEONES RESPONSIVE */

@media only screen and (max-width:1024px) {

    .contenedor-campeones {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }

    .titulo-campeones {
        font-size: 22px;
    }
}

@media only screen and (max-width:390px) {
    .contenedor-campeones {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }

    .titulo-campeones {
        font-size: 22px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

/* FIXTURE RESPONSIVE */

@media only screen and (max-width:1024px) {
    
    .titulo-fixture{
        font-size: 22px;
    }
    .partido p {
        font-size: 16px;
    }
    .estadio p{
        font-size: 16px;
        margin: 10px 0;
    }
    .horarios p{
        font-size: 16px;
    }

}

/* INDEX RESPONSIVE */

@media only screen and (max-width:1024px) {
    .contenedor-cards .card h2{
        font-size: 20px;
    }
    .contenedor-cards .card p{
        font-size: 16px;
    }
    .titulo-index{
        font-size: 22px;
    }
}